.absoluteImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://static.wixstatic.com/media/84770f_98aabcec66e34956acf748305c555ec3~mv2_d_2500_1658_s_2.jpg/v1/fill/w_980,h_746,al_c,q_85,usm_0.66_1.00_0.01/84770f_98aabcec66e34956acf748305c555ec3~mv2_d_2500_1658_s_2.webp");
  height: 70vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.ourRoomsContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  margin: 7rem 35rem;
  padding: 1.5rem;
  font-weight: 100;
}

.bookroomButton {
  border: 0.02rem solid black;
  padding: 0.5rem 2rem;
  background-color: white;
}

.bookroomButton:hover {
  background-color: black;
  transition: all 0.5s ease;
  color: white;
}
