.formContainer {
  width: 40%;
  margin: auto;
}

.contactPage {
  background-color: rgb(202, 195, 195);
}

.footerClass {
  width: 100%;
  height: 4rem;
  background-color: #242323;
  color: white;
}
